
.menu-hospital {
    width: 100%;
}

.container1 {
    background: black;
    height: 35px;
    display: flex;
    justify-content: center;
}

.position-menu-hospital{
    width: 85%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contato_container1 {
    display: flex;
}

.btn_telefone img{
    width: 20px;
}

.btn_telefone {
    margin-right: 15px;
}

.btn_email img{
    margin-right: 5px;
    width: 20px;
}
.menu-hospital .contato_container1 a {
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 100px;
}

.position_btn_container1 {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn_container1 {
    width: 20px;
    background: #27aba7;
    border-radius: 2px;
    margin-left: 5px;
}

.btn_container1:hover {
    opacity: 70%;
    transition: 1s;
}

.container2 {
    height: 170px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.logo_hospital img {
    width: 250px;
}
.dropdown {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
    z-index: 1;
}

.position_dropdown {
    background: #27aba7;
    width: 80%;
    height: 74px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.linha_dropdown {
    height: 67px;
    background: #ffffff1f;
    width: 1px;
}

.btn_dropdown {
    text-decoration: none;
    color: white;
    padding: 28px 15px;
}

.btn_dropdown:hover {
    background: #2db3af;
    transition: 1s;
    color: #00000024;
}

.btn_dropdown:active {
    background: #d1d1d173;
    transition: 0.1s;
    color: #000000;
}
