.project-card {
  width: 24%;
  min-height: 290px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  
  @media only screen and (max-width: 800px) {
    & {
      width: 49%;
    }
  }

  p, span, h1 {
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  &:hover {
    a {
      .image-field {
        #drop-shadow {
          display: flex;
        }
  
        > .image-container > img {
          filter: none !important;
        }
      }
  
      > div:nth-last-child(1) {
        position: absolute;
        bottom: 0;
  
        p, h1 {
          white-space: initial !important;
        }
      }
    }
  }

  &:active {
    transition: 1ms;
    opacity: 30%;
  }

  > a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #card-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-border);
      height: 20px;
      width: 80px;
      border-radius: 5px 0 0 5px;
      position: absolute;
      right: 0;
      top: 10px;
      z-index: 20;
      color: var(--color-headings);
      font-size: 0.9rem;
    }

    .yellow-tag {
      background-color: #daa520;
    }

    .blue-tag {
      background-color: var(--color-primary);
    }

    .image-field {
      width: 100%;
      padding: 5px;
      overflow: hidden;
      position: relative;
      
      #drop-shadow {
        display: none;
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg, var(--bg-color), #0a0a0b, #0a0a0bed, #0a0a0bd1, #0a0a0bab, #0a0a0b57, transparent);
        z-index: 11;
        position: absolute;
        bottom: 0;
      }
      
      .image-container {
        width: 100%;
        height: 170px;

        > img {
          width: 100%;
          height: 100%;
          filter: brightness(0.8);
          z-index: 10;
          border-radius: 3px;
        }
      }
    }
  
    > div:nth-last-child(1) {
      width: 90%;
      margin: 10px 0 30px 0;
      z-index: 12;
  
      h1 {
        color: var(--color-headings);
        font-weight: normal;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }
  
      span {
        font-size: 0.7rem;
        color: var(--color-text2);
      }
  
      p {
        color: var(--color-text);
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        margin-top: 5px;
      }
    }
  }
}