.design-page {
  > .header {
    height: 90px;
    background-color: black;

    @media only screen and (max-width: 800px) {
      & {
        width: 85px;
      }
    }
  }
  
  .design-landing-page {
    width: 100%;

    .header {
      width: 100%;
      height: 40vh;
      background-color: var(--bg-panel);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      overflow: hidden;
      position: relative;
      border: 1px solid var(--bg-panel);
      
      @media only screen and (max-width: 800px) {
        & {
          height: 170px;
        }
      }

      h1 {
        color: var(--color-headings);
        font-size: 5rem;
        z-index: 10;
        
        @media only screen and (max-width: 800px) {
          & {
            font-size: 2.7rem;
          }
        }
      }
      
      p {
        width: 35%;
        text-align: center;
        color: var(--color-text);
        font-size: 1.5rem;
        z-index: 10;
        margin-bottom: 3vh;
        
        @media only screen and (max-width: 800px) {
          & {
            width: 85%;
            font-size: 1rem;
          }
        }
      }
    
      .image-background {
        width: 100%;
        
        > div:nth-child(1) {
          position: absolute;
          top: 0;
          display: flex;
          z-index: 1;

          img {
            width: 100%;
            filter: grayscale(1);
            opacity: 5%;

            @media only screen and (max-width: 800px) {
              & {
                width: 150%;
              }
            }
          }
        }

        > div:nth-last-child(1) {
          display: flex;
          justify-content: space-between;
          align-items: end;
          width: 100%;  
          z-index: 1;
          user-select: none;
          position: absolute;
          bottom: -80%;
          top: auto;

          div {
            width: 30%;
            height: 400px;
            position: relative;
            overflow: hidden;
            
            @media only screen and (max-width: 800px) {
              & {
                height: 300px;
              }
            }

            &:nth-child(2) {
              width: 43%;
              height: 430px;
              
              @media only screen and (max-width: 800px) {
                & {
                  height: 330px;
                }
              }

              &::after {
                height: 450px;

                @media only screen and (max-width: 800px) {
                  & {
                    height: 350px;
                  }
                }
              }   
            }
              
            &::after {
              content: '';
              display: flex;
              width: 100%;
              height: 430px;
              background: linear-gradient(0deg, var(--bg-panel2), var(--bg-panel2), var(--bg-panel2), var(--bg-panel2), transparent);
              z-index: 2;
              position: absolute;
              bottom: 0;
              
              @media only screen and (max-width: 800px) {
                & {
                  height: 330px;
                }
              }
            }   
        
            img {
              width: 100%;
              opacity: 30%;
              filter: grayscale(1);
            }
          }
        }
      }
    }
  }
  
  .images-field {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
  
    .position {
      width: 80%;
      padding-top: 65px;
      padding-bottom: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @media only screen and (max-width: 800px) {
        & {
          width: 95%;
          padding-top: 40px;
          padding-bottom: 100px;
        }
      }

      .header {
        width: 100%;
        display: flex;
        margin-bottom: 20px;

        @media only screen and (max-width: 800px) {
          & {
            width: 95%;
          }
        }
        
        > div:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          @media only screen and (max-width: 800px) {
            & {
              margin-top: 15px;
            }
          }
          
          .title-timeline {
            filter: drop-shadow(0 0px 30px #3c0a4a);
            margin: 15px;
            
            @media only screen and (max-width: 800px) {
              & {
                margin: 0;
                margin-bottom: 15px;
              }
            }
          }
    
          .vertical-line {
            width: 3px;
            height: 50px;
            z-index: 2 !important;
            filter: drop-shadow(0 0px 15px #0077cb);  
            background: linear-gradient(-45deg, transparent, #3c0a4a, #23a6d5, #23d5ab);
          }
        }
  
        > div:nth-child(2) {
          margin-left: 20px;
          margin-top: 15px;
  
          > h2 {
            color: var(--color-headings);
            font-size: 1.6rem;
            font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-weight: 500 !important;
            margin-bottom: 15px;
            
            @media only screen and (max-width: 800px) {
              & {
                margin-bottom: 10px;
              }
            }
          }
  
          p {
            color: var(--color-text);
            font-size: 1.3rem;
            letter-spacing: -0.01em;
            line-height: 30px !important;

            @media only screen and (max-width: 800px) {
              & {
                font-size: 1rem;
                line-height: 22px !important;
              }
            }
          }
        }
      }
  
      > div:nth-last-child(1) {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
  
        > div {
          width: 32.8%;
          margin-bottom: 10px;
          cursor: pointer;
          position: relative;
          
          @media only screen and (max-width: 800px) {
            & {
              width: 49%;
              margin-bottom: 8px;
            }
          }

          &:hover {
            > img {
              transition: 5ms;
              filter: brightness(0.3);
            }
    
            &::after {
              content: attr(data-description);
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              height: 120px;
              background: linear-gradient(0deg, var(--bg-color), transparent, transparent);
              color: var(--color-headings);
              z-index: 99;
              position: absolute;
              bottom: 0;

              @media only screen and (max-width: 800px) {
                & {
                  display: none;
                }
              }
            }    
          }
    
          &:active {
            transition: 1ms;
            opacity: 30%;
          }
    
          img {
            width: 100%;
            height: 100%;
          }
        }

        .w-66 {
          width: 66.4% !important;

          @media only screen and (max-width: 800px) {
            & {
              width: 100% !important;
            }
          }
        }
      }

      .carousel-field {
        width: 100% !important;
        height: 300px !important;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--bg-panel);
        cursor: default !important;

        @media only screen and (max-width: 800px) {
          & {
            height: 150px !important;
          }
        }

        &:hover::after {
          display: none !important;
        }

        &:active {
          opacity: 100% !important;
        }

        .button-field {
          z-index: 11;
          width: 10%;
          height: 100%;
          background: linear-gradient(90deg, var(--bg-color), transparent);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          cursor: pointer;
          
          &:hover {
            transition: 5ms;
            background: linear-gradient(90deg, var(--bg-panel), transparent);

            > svg {
              transition: 5ms;
              opacity: 100%;
            }
          }

          &:active {
            transition: 1ms;
            opacity: 50%;
          }
          
          .arrow_svg__octicon {
            width: 50px;
            height: 50px;
            filter: invert(1);
            opacity: 70%;

            .arrow_svg__octicon-chevrow-stem {
              display: none;
            }
          }
        }

        .left-carousel-button {
          left: 0;
          right: auto;

          > svg {
            transform: rotate(180deg) !important;
          }
        }

        .right-carousel-button {
          right: 0; 
          left: auto;
          background: linear-gradient(270deg, var(--bg-color), transparent) !important;

          > svg {
            transform: rotate(0deg) !important;
          }
        }

        > div:nth-last-child(1) {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          z-index: 10;
          transition: 1s all;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.full-image {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  
  > div {
    width: 70%;
    min-height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media only screen and (max-width: 800px) {
      & {
        width: 90%;
        min-height: 70vh;
        margin-bottom: 50px;
      }
    }     

    svg {
      width: 16px;
      height: 16px;
      cursor: pointer;
      filter: invert(1);
      opacity: 40%;
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        transition: 1s;
        opacity: 90%;
      }

      &:active {
        transition: 0.1s;
        opacity: 10%;
      }
    }

    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 90vh;
                  
      @media only screen and (max-width: 800px) {
        & {
          width: 100%;
        }
      }     
    }
  }
}