.landing-page {
  height: 110vh;
  background-image: url(https://i.postimg.cc/rpWVVWnC/background-landing-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;

  @media only screen and (max-width: 800px) {
    height: 105vh;
    position: relative;
    overflow: hidden;
  }

  > .position {
    position: relative;
    width: 77%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      position: initial;
      width: 80%;
    }

    > div {
      &:nth-child(1) {
        margin-top: 80px;
        z-index: 10;

        @media only screen and (max-width: 800px) {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      p {
        font-size: 2.9vw;
        margin-top: 5px;
        color: var(--color-headings);

        @media only screen and (max-width: 800px) {
          font-size: 1.2rem;
          width: 80%;
        }

        span {
          color: var(--color-primary);
        }

        &:nth-child(1) {
          font-size: 2.3vw;
          margin: 0px;

          @media only screen and (max-width: 800px) {
            width: auto;
            font-size: 1.4rem;
          }
        }
      }

      h1 {
        color: var(--color-headings);
        font-size: 5vw;

        @media only screen and (max-width: 800px) {
          font-size: 10vw;
        }
      }

      .profile-picture {
        max-width: 95vw;
        width: 290px;
        height: 155px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          width: 155px;
          height: 120px;
          background-color: var(--bg-panel);
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border: 2px solid var(--color-purple);
          filter: drop-shadow(6px 8px 0px var(--bg-panel));
        }

        img {
          object-fit: cover;
          width: 100% !important;
          height: 100% !important;
        }

        svg {
          position: absolute;
        }
      }

      #btn-contato-landing-page {
        color: var(--color-headings);
        background-color: var(--color-primary);
        border-radius: 10px;
        margin-top: 25px;
        font-size: 1.4rem;
        padding: 8px 35px;
        letter-spacing: 2px;
        cursor: pointer;
        border: 3px solid var(--color-primary);

        @media only screen and (max-width: 800px) {
          display: none;
        }

        &:hover {
          transition: 1s;
          background-color: transparent;
          color: var(--color-primary);
          border: 3px solid var(--color-primary);
        }

        &:active {
          transition: 0.1s;
          opacity: 10%;
        }
      }

      .social-media-field {
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin-top: 20px;

        @media only screen and (max-width: 800px) {
          display: none;
        }

        svg {
          width: 25px;
          height: 25px;
          display: flex;
          border-radius: 2px;
          opacity: 30%;
          margin-right: 20px;

          &:hover {
            transition: 1s;
            opacity: 100%;
          }

          &:active {
            transition: 0.1s;
            opacity: 10%;
          }
        }
      }
    }
  }
}
