.menu {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
  z-index: 99;
  position: relative;

  .position {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
      display: flex;
      align-items: center;
      margin-top: 50px;

      span {
        font-family: Cookie;
        font-size: 1.7rem;
        margin-left: 10px;
        cursor: pointer;
        color: var(--color-headings);
      }

      svg {
        width: 60px;
        height: 60px;
        filter: invert(1);
      }
    }

    .btns-menu {
      display: flex;
      align-items: center;
      z-index: 99;
      position: relative;
      
      a, button {
        margin: 0px 10px;
        padding: 7px 20px;
        border: 2px solid rgba(255, 255, 255, 0);
        border-radius: 10px;
        color: var(--color-headings);
        border: 2px solid transparent;
        background-color: transparent;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          transition: 0.1s;
          border: 2px solid var(--color-headings);
          color: var(--color-headings);
        }
      }

      .btn-contact {
        display: flex;
        align-items: center;
        border-radius: 15px;
        border: 2px solid var(--color-headings);
        cursor: pointer;
        background-color: transparent;
        font-size: 1rem;
        color: var(--color-headings);

        svg {
          width: 15px;
          height: 15px;
        }

        hr {
          height: 20px;
          background: var(--color-headings);
          border: none;
          width: 1px;
          margin: 0 10px;
        }

        &:hover {
          transition: 0.5s;
          border: 2px solid var(--color-primary);
          color: var(--color-primary);

          > hr {
            transition: 0.5s;
            background-color: var(--color-primary);
          }
        }
      }

      .active-contact {
        border: 2px solid var(--bg-panel) !important; 
        color: var(--color-text2);
        
        &:hover {
          transition: 0.5s;
          border: 2px solid var(--color-primary) !important;
          
          svg {
            transition: 0.5s;
            opacity: 100%;
          }
        }

        hr {
          background-color: var(--color-text2);
        }

        svg {
          opacity: 40%;
        }
      }

      .dropdown-button-contact {
        display: flex !important;
        min-width: 200px !important;
        top: 28px;
        right: 10px;
      }

      .active-button {
        border: 2px solid var(--bg-panel);  
        color: var(--color-text2);
      }

      li:nth-last-child(1) .dropdown {
        margin-top: 19px;
      }

      .dropdown {
        min-width: 30%;
        display: none;
        position: absolute;
        background-color: var(--bg-color);
        margin-top: 10px;
        margin-left: 10px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--color-border);
        overflow: hidden;

        .header {
          width: 100%;
          height: 15px;
          border-bottom: 1px solid var(--color-border);
          background-color: var(--bg-panel);
        }

        li {
          display: flex;
          text-align: center;
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid var(--color-border);

          &:hover a {
            transition: 0.1s;
            transform: translateX(10px);
            color: var(--color-headings) !important;
          }

          &:active a{
            transition: 0.1s;
            opacity: 10%;
          }

          &:nth-last-child(1) {
            border-bottom: none;
          }
            
          a {
            color: var(--color-text2) !important;
            border: none;
            padding: 0;
          }
        }

        .more-dropdown {
          width: 100%;
          display: flex;
          justify-content: end;
          background-color: var(--bg-panel);

          span {
            color: var(--color-text);
            cursor: pointer;
            padding: 5px;
            font-size: 0.9rem;
            margin-right: 5px;

            &:hover {
              transition: 1s;
              color: var(--color-primary);
            }

            &:active {
              transition: 1ms;
              opacity: 30%;
            }
          }
        }
      }

      .active-dropdown {
        display: flex;
      }
    }
  }
}

.menu-small {
  position: fixed;
  height: 68px;
  background-color: var(--bg-color);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.356));
  
  .position {
    width: 80%;

    #logo {
      margin: 0 !important;
  
      svg {
        display: none;
      }
  
      span {
        font-size: 1.3rem !important;
      }
    }
  }
}

.page-progress-bar {
  width: 100%;
  height: 5px;
  background-color: var(--bg-color);
  position: absolute;
  bottom: 0;

  > div {
    height: 100%;
    background-color: var(--bg-panel); 
  }
}