.resume-field {
  width: 100%;
  min-height: 1670px; 
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.postimg.cc/3JVQkNDL/background-landing-page4.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  @media only screen and (max-width: 800px) {
    & {
      min-height: 750px; 
    }
  }

  > .position {
    width: 65%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
    @media only screen and (max-width: 800px) {
      & {
        width: 90%;
        margin-bottom: 0;
      }
    }

    .header {
      width: 100%;
      height: 50px;
      background-color: var(--bg-panel);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px 5px 0 0;
      filter: drop-shadow(0 0 20px var(--bg-panel));

      > .position {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          display: flex;
          align-items: center;
          gap: 7px;

          svg {
            width: 20px;
            height: 20px;
            color: var(--color-headings);
          }
  
          > span {
            color: var(--color-headings);
          }
        }
  
        > a {
          color: var(--color-headings);
          font-size: 1rem;
          letter-spacing: 2px;
          cursor: pointer;
          display: flex;
          align-items: center;
    
          &:hover {
            transition: 1s;
            color: var(--color-primary);
          }
    
          &:active {
            transition: 0.1s;
            opacity: 30%;
          }
    
          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    
    > img {
      width: 100%;
      border-radius: 0 0 5px 5px;
      filter: drop-shadow(0 0 20px var(--bg-panel));
    }
  }
}