.resume-field {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.postimg.cc/3JVQkNDL/background-landing-page4.png);
  background-repeat: no-repeat;
  background-size: cover;

  > .position {
    width: 65%;
    max-width: 1000px;
    padding-top: 90px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media only screen and (max-width: 800px) {
      width: 95%;
      padding-top: 75px;
    }

    .header {
      width: 100%;
      height: 55px;
      background-color: var(--bg-panel);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px 5px 0 0;
      filter: drop-shadow(0 0 20px var(--bg-panel));

      > .position {
        width: 98%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 800px) {
          width: 95%;
        }

        > div:nth-child(1) {
          display: flex;
          flex-direction: column;

          @media only screen and (max-width: 800px) {
            display: none;
          }

          > span {
            color: var(--color-text2);
            font-size: 0.7rem;
            margin-bottom: 2px;
          }

          > div {
            display: flex;
            align-items: center;
            gap: 7px;

            svg {
              width: 20px;
              height: 20px;
              color: var(--color-headings);

              @media only screen and (max-width: 800px) {
                & {
                  width: 15px;
                  height: 15px;
                }
              }
            }

            span {
              color: var(--color-headings);

              @media only screen and (max-width: 800px) {
                & {
                  font-size: 0.7rem;
                }
              }
            }
          }
        }

        > div:nth-child(2) {
          height: 65%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          background-color: #8080802e;
          overflow: hidden;

          > div:nth-child(1) label {
            padding-left: 20px;
          }

          > div:nth-last-child(1) label {
            padding-right: 20px;
          }

          > div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input[type='radio'] {
              display: none;
            }

            label {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 15px;
              cursor: pointer;
              user-select: none;
              transition: 0.5s;
              font-size: 0.8rem;
              color: var(--color-headings);

              &:active {
                transition: 1ms;
                opacity: 30%;
              }

              &:hover {
                transition: 1s;
                opacity: 50%;
              }
            }

            .active-cv-button ~ label {
              background-color: #8080802e;
              color: var(--color-primary) !important;
            }
          }
        }

        > a {
          white-space: nowrap;
          color: var(--color-headings);
          font-size: 1rem;
          letter-spacing: 2px;
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-right: 10px;

          @media only screen and (max-width: 800px) {
            font-size: 0.8rem;
            margin-right: 0;
          }

          &:hover {
            transition: 1s;
            color: var(--color-primary);
          }

          &:active {
            transition: 0.1s;
            opacity: 30%;
          }

          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;

            @media only screen and (max-width: 800px) {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .image-container {
      width: 100%;

      @media only screen and (max-width: 800px) {
        height: 500px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 5px 5px;
        filter: drop-shadow(0 0 20px var(--bg-panel));
      }
    }
  }
}
