.section-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1500px;
  background-image: url(https://i.postimg.cc/3JVQkNDL/background-landing-page4.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  > .position {
    width: 80% !important;
    max-width: 1200px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;

    .introduction-field {
      width: 75%;
      margin-top: 110px;

      h1 {
        color: var(--color-headings);
        font-size: 5rem;
        font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-weight: 600 !important;
        margin-bottom: 20px;
      }
      
      p {
        width: 90%;
        color: var(--color-text);
        font-size: 2rem;
        font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        letter-spacing: -0.01em;
        line-height: 44px !important;

        &:nth-child(4) {
          font-size: 1rem;
        }

        span {
          color: var(--color-headings);
        }
      }
      
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110%;
        
        > span {
          width: 55%;
          color: var(--color-text);
          font-size: 1.5rem;
          font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          letter-spacing: -0.01em;
          line-height: 34px !important;

          span {
            font-size: 1.7rem;
            color: var(--color-headings);
            font-weight: 500;
          }
        }
      }
    }

    .about-field {
      width: 75%;
      margin-top: 70px;

      h2 {
        color: var(--color-headings);
        font-size: 1.6rem;
        font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-weight: 500 !important;
        margin-bottom: 20px;
      }
      
      p {
        color: var(--color-text);
        font-size: 1.5rem;
        font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        letter-spacing: -0.01em;
        line-height: 34px !important;
        
        span {
          line-height: 44px !important;
          font-weight: 500;
          font-size: 2.5rem;
          color: var(--color-headings);

          span {
            color: var(--color-primary);
            font-weight: bold !important; 
            font-size: 2.7rem;
          }
        }
      }
    }

    .specialties-field {
      width: 100%;
      background-color: var(--bg-panel);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      border: 1px solid var(--color-border);
      padding: 35px 50px 35px 50px;
      margin-top: 50px;

      > div:nth-child(1)  {
        width: 35%;
        height: 80%;

        h2 {
          color: var(--color-headings);
          font-size: 1.6rem;
          font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          font-weight: 500 !important;
          margin-bottom: 20px;
        }

        p {
          color: var(--color-text);
          font-size: 1.3rem;
          font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          letter-spacing: -0.01em;
          line-height: 30px !important;
        }
      }

      .graphic-field {
        width: 65%;
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        .column {
          width: 47%;
          margin-bottom: 20px;

          &:nth-child(5) {
            margin-bottom: 0;
          }

          > div:nth-child(1) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            > span {
              color: var(--color-headings);
              font-size: 1.2rem;
              
              span:nth-child(1) {
                color: var(--color-primary);
                font-weight: bold;
              }
              
              span:nth-child(2) {
                font-size: 0.9rem;
              }
            }
          }

          .bar {
            width: 100%;
            height: 5px;
            border-radius: 10px;
            background-color: var(--color-headings);
            
            .progress {
              height: 100%;
              border-radius: 10px;
              overflow: hidden;

              > div {
                width: 100%;
                height: 100%;

                @each $delay in 0.1, 0.2, 0.3, 0.5 {
                  &[data-animation-delay="#{$delay}"] {
                    transition-delay: #{$delay}s;
                    animation-delay: #{$delay}s;
                  }
                }
              }

              @for $progress from 1 through 5 {
                &[data-progress="#{$progress}"] {
                  width: calc(#{$progress}0% * 2);
                }
              }
            }
          }
        }
      }
    }    
  }
}

.section-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  
  .position {
    width: 85%;
    max-width: 1253px !important;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
    
    .header {
      width: 100%;
      display: flex;
      margin-bottom: 20px;

      @media only screen and (max-width: 800px) {
        & {
          width: 95%;
        }
      }

      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-timeline {
          filter: drop-shadow(0 0px 30px #3c0a4a);
          margin: 15px;

          @media only screen and (max-width: 800px) {
            & {
              margin: 0;
              margin-bottom: 15px;
            }
          }
        }
  
        .vertical-line {
          width: 3px;
          height: 80px;
          z-index: 2 !important;
          
          > div {
            width: 100%;
            height: 100%;
            background-size: 400% 400%;
            background: linear-gradient(-45deg, transparent, #3c0a4a, #23a6d5, #23d5ab);
            filter: drop-shadow(0 0px 15px #0077cb);  
          }
        }
      }

      > div:nth-child(2) {
        margin-left: 20px;
        margin-top: 15px;

        > h2 {
          color: var(--color-headings);
          font-size: 1.6rem;
          font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-weight: 500 !important;
          margin-bottom: 15px;
                      
          @media only screen and (max-width: 800px) {
            & {
              margin-bottom: 8px;
            }
          }
        }

        p {
          width: 67%;
          color: var(--color-text);
          font-size: 1.3rem;
          letter-spacing: -0.01em;
          line-height: 30px !important;

          @media only screen and (max-width: 800px) {
            & {
              font-size: 1rem;
              line-height: 22px !important;
            }
          }
        }
      }
    }

    .cards-field {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      
      @media only screen and (max-width: 800px) {
        & {
          gap: 0.6rem;
        }
      }
    }

    #more-button {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      
      span {
        color: var(--color-text);
        cursor: pointer;
      
        &:hover {
          transition: 1;
          color: var(--color-primary);
        }
  
        &:active {
          transition: 1ms;
          opacity: 30%;
        }
      }
    }
  }
}