@font-face {
  font-family: "Mona Sans";
  src: url("../../public/fonts/Mona-Sans.woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-color: #0a0a0b;
  --bg-backdrop: #20262ec7;
  --bg-panel: #181b1e;
  --bg-panel2: #121416;
  --bg-panel-menu: #20262e40;
  --color-text: #9ea1a9;
  --color-text2: #808080;
  --color-primary: #2494d6;
  --color-border: rgb(255 255 255 / 10%);
  --color-headings: white;
  --color: #10151b;
  --color-opposite: rgba(0, 0, 0, 0.7);
  --bg-description: #20262e;
  --color2: #9d9d9d;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

svg, img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: var(--bg-color);
}

section {
  min-height: 80vh;
}

.menu {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 99;
  position: relative;
}
.menu .position {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .position #logo {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 10px;
}
.menu .position #logo span {
  font-family: Cookie;
  font-size: 1.7rem;
  margin-left: 20px;
  cursor: pointer;
  color: var(--color-headings);
}
.menu .position #logo svg {
  width: 65px;
  height: 65px;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--bg-panel);
  border: 1px solid var(--color-border);
}
.menu .position .btns-menu {
  display: flex;
  align-items: center;
  z-index: 99;
  position: relative;
}
.menu .position .btns-menu a, .menu .position .btns-menu button {
  margin: 0px 10px;
  padding: 7px 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  color: var(--color-headings);
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.menu .position .btns-menu a:hover, .menu .position .btns-menu button:hover {
  transition: 0.1s;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}
.menu .position .btns-menu .btn-contact {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid var(--color-headings);
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  color: var(--color-headings);
}
.menu .position .btns-menu .btn-contact svg {
  width: 15px;
  height: 15px;
}
.menu .position .btns-menu .btn-contact hr {
  height: 20px;
  background: var(--color-headings);
  border: none;
  width: 1px;
  margin: 0 10px;
}
.menu .position .btns-menu .btn-contact:hover {
  transition: 0.5s;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.menu .position .btns-menu .btn-contact:hover > hr {
  transition: 0.5s;
  background-color: var(--color-primary);
}
.menu .position .btns-menu .active-contact {
  border: 2px solid var(--bg-panel) !important;
  color: var(--color-text2);
}
.menu .position .btns-menu .active-contact:hover {
  transition: 0.5s;
  border: 2px solid var(--color-primary) !important;
}
.menu .position .btns-menu .active-contact:hover svg {
  transition: 0.5s;
  opacity: 100%;
}
.menu .position .btns-menu .active-contact hr {
  background-color: var(--color-text2);
}
.menu .position .btns-menu .active-contact svg {
  opacity: 40%;
}
.menu .position .btns-menu .dropdown-button-contact {
  display: flex !important;
  min-width: 200px !important;
  top: 28px;
  right: 10px;
}
.menu .position .btns-menu .active-button {
  border: 2px solid var(--bg-panel);
  color: var(--color-text2);
}
.menu .position .btns-menu li:nth-last-child(1) .dropdown {
  margin-top: 19px;
}
.menu .position .btns-menu .dropdown {
  min-width: 30%;
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  overflow: hidden;
}
.menu .position .btns-menu .dropdown .header {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--bg-panel);
}
.menu .position .btns-menu .dropdown li {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--color-border);
}
.menu .position .btns-menu .dropdown li:hover a {
  transition: 0.1s;
  transform: translateX(10px);
  color: var(--color-headings) !important;
}
.menu .position .btns-menu .dropdown li:active a {
  transition: 0.1s;
  opacity: 10%;
}
.menu .position .btns-menu .dropdown li:nth-last-child(1) {
  border-bottom: none;
}
.menu .position .btns-menu .dropdown li a {
  color: var(--color-text2) !important;
  border: none;
  padding: 0;
}
.menu .position .btns-menu .dropdown .more-dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-panel);
}
.menu .position .btns-menu .dropdown .more-dropdown span {
  color: var(--color-text);
  cursor: pointer;
  padding: 1px;
  font-size: 0.9rem;
  margin-right: 5px;
}
.menu .position .btns-menu .dropdown .more-dropdown span:hover {
  transition: 1s;
  color: var(--color-primary);
}
.menu .position .btns-menu .dropdown .more-dropdown span:active {
  transition: 1ms;
  opacity: 30%;
}
.menu .position .btns-menu .active-dropdown {
  display: flex;
}

.menu-small {
  position: fixed;
  height: 68px;
  background-color: var(--bg-color);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.356));
}
.menu-small .position {
  width: 80%;
}
.menu-small .position #logo {
  margin: 0 !important;
}
.menu-small .position #logo svg {
  display: none;
}
.menu-small .position #logo span {
  font-size: 1.3rem !important;
}

.page-progress-bar {
  width: 100%;
  height: 5px;
  background-color: var(--bg-color);
  position: absolute;
  bottom: 0;
}
.page-progress-bar > div {
  height: 100%;
  background-color: var(--bg-panel);
}

.landing-page {
  height: 110vh;
  background-image: url(https://i.postimg.cc/rpWVVWnC/background-landing-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.landing-page > .position {
  position: relative;
  width: 77%;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing-page > .position > div:nth-child(1) {
  margin-top: 80px;
  z-index: 10;
}
.landing-page > .position > div p {
  font-size: 2.9vw;
  margin-top: 5px;
  color: var(--color-headings);
}
.landing-page > .position > div p span {
  color: var(--color-primary);
}
.landing-page > .position > div p:nth-child(1) {
  font-size: 2.3vw;
  margin: 0px;
}
.landing-page > .position > div h1 {
  color: var(--color-headings);
  font-size: 5vw;
}
.landing-page > .position > div #btn-contato-landing-page {
  color: var(--color-headings);
  background-color: var(--color-primary);
  border-radius: 10px;
  margin-top: 25px;
  font-size: 1.4rem;
  padding: 8px 35px;
  letter-spacing: 2px;
  cursor: pointer;
  border: 3px solid var(--color-primary);
}
.landing-page > .position > div #btn-contato-landing-page:hover {
  transition: 1s;
  background-color: transparent;
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
}
.landing-page > .position > div #btn-contato-landing-page:active {
  transition: 0.1s;
  opacity: 10%;
}
.landing-page > .position > div .social-media-field {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.landing-page > .position > div .social-media-field svg {
  width: 25px;
  height: 25px;
  display: flex;
  border-radius: 2px;
  opacity: 30%;
  margin-right: 20px;
}
.landing-page > .position > div .social-media-field svg:hover {
  transition: 1s;
  opacity: 100%;
}
.landing-page > .position > div .social-media-field svg:active {
  transition: 0.1s;
  opacity: 10%;
}

.computer-imaging-field {
  width: 74%;
  min-height: 77vh;
  position: absolute;
  right: -7%;
  top: 0;
  z-index: 1;
}
.computer-imaging-field svg {
  position: absolute;
}
.computer-imaging-field #image-computer {
  width: 100%;
  min-height: 100%;
}
.computer-imaging-field #image-orange-gear {
  width: 17%;
  height: 17%;
  top: 7.5%;
  right: 55%;
  animation: counterclockwiseRotation 3s infinite linear;
}
.computer-imaging-field #image-blue-gear {
  width: 12%;
  height: 12%;
  top: 28%;
  right: 5%;
  animation: hourlyRotation 1.3s infinite ease-in-out;
}
.computer-imaging-field #image-screwdriver {
  transform: rotate(340deg);
  width: 20%;
  height: 30%;
  top: 30%;
  right: 2%;
  animation: screwdriver 5s infinite linear;
}
@keyframes counterclockwiseRotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes hourlyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes screwdriver {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1500px;
  background-image: url(https://i.postimg.cc/3JVQkNDL/background-landing-page4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section-about > .position {
  width: 80% !important;
  max-width: 1200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.section-about > .position .introduction-field {
  width: 75%;
  margin-top: 110px;
}
.section-about > .position .introduction-field h1 {
  color: var(--color-headings);
  font-size: 5rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600 !important;
  margin-bottom: 20px;
}
.section-about > .position .introduction-field p {
  width: 90%;
  color: var(--color-text);
  font-size: 2rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.01em;
  line-height: 44px !important;
}
.section-about > .position .introduction-field p:nth-child(4) {
  font-size: 1rem;
}
.section-about > .position .introduction-field p span {
  color: var(--color-headings);
}
.section-about > .position .introduction-field > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
}
.section-about > .position .introduction-field > div > span {
  width: 55%;
  color: var(--color-text);
  font-size: 1.5rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.01em;
  line-height: 34px !important;
}
.section-about > .position .introduction-field > div > span span {
  font-size: 1.7rem;
  color: var(--color-headings);
  font-weight: 500;
}
.section-about > .position .about-field {
  width: 75%;
  margin-top: 70px;
}
.section-about > .position .about-field h2 {
  color: var(--color-headings);
  font-size: 1.6rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500 !important;
  margin-bottom: 20px;
}
.section-about > .position .about-field p {
  color: var(--color-text);
  font-size: 1.5rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.01em;
  line-height: 34px !important;
}
.section-about > .position .about-field p span {
  line-height: 44px !important;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-headings);
}
.section-about > .position .about-field p span span {
  color: var(--color-primary);
  font-weight: bold !important;
  font-size: 2.7rem;
}
.section-about > .position .specialties-field {
  width: 100%;
  background-color: var(--bg-panel);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  padding: 35px 50px 35px 50px;
  margin-top: 50px;
}
.section-about > .position .specialties-field > div:nth-child(1) {
  width: 35%;
  height: 80%;
}
.section-about > .position .specialties-field > div:nth-child(1) h2 {
  color: var(--color-headings);
  font-size: 1.6rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500 !important;
  margin-bottom: 20px;
}
.section-about > .position .specialties-field > div:nth-child(1) p {
  color: var(--color-text);
  font-size: 1.3rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.01em;
  line-height: 30px !important;
}
.section-about > .position .specialties-field .graphic-field {
  width: 65%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.section-about > .position .specialties-field .graphic-field .column {
  width: 47%;
  margin-bottom: 20px;
}
.section-about > .position .specialties-field .graphic-field .column:nth-child(5) {
  margin-bottom: 0;
}
.section-about > .position .specialties-field .graphic-field .column div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.section-about > .position .specialties-field .graphic-field .column div:nth-child(1) > span {
  color: var(--color-headings);
  font-size: 1.2rem;
}
.section-about > .position .specialties-field .graphic-field .column div:nth-child(1) > span span:nth-child(1) {
  color: var(--color-primary);
  font-weight: bold;
}
.section-about > .position .specialties-field .graphic-field .column div:nth-child(1) > span span:nth-child(2) {
  font-size: 0.9rem;
}
.section-about > .position .specialties-field .graphic-field .column .bar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--color-headings);
}
.section-about > .position .specialties-field .graphic-field .column .bar .progress {
  height: 100%;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.section-about > .position .specialties-field .graphic-field .column .bar .progress[data-progress="1"] {
  width: 20%;
}
.section-about > .position .specialties-field .graphic-field .column .bar .progress[data-progress="2"] {
  width: 40%;
}
.section-about > .position .specialties-field .graphic-field .column .bar .progress[data-progress="3"] {
  width: 60%;
}
.section-about > .position .specialties-field .graphic-field .column .bar .progress[data-progress="4"] {
  width: 80%;
}
.section-about > .position .specialties-field .graphic-field .column .bar .progress[data-progress="5"] {
  width: 100%;
}

.section-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}
.section-projects .position {
  width: 85%;
  max-width: 1253px !important;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
}
.section-projects .position .header {
  display: flex;
  margin-bottom: 20px;
}
.section-projects .position .header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-projects .position .header > div:nth-child(1) .title-timeline {
  filter: drop-shadow(0 0px 30px #3c0a4a);
  margin: 15px;
}
.section-projects .position .header > div:nth-child(1) .vertical-line {
  width: 3px;
  height: 80px;
  background-size: 400% 400%;
  z-index: 2 !important;
  filter: drop-shadow(0 0px 15px #0077cb);
  background: linear-gradient(-45deg, transparent, #3c0a4a, #23a6d5, #23d5ab);
}
.section-projects .position .header > div:nth-child(2) {
  margin-left: 20px;
  margin-top: 15px;
}
.section-projects .position .header > div:nth-child(2) > h2 {
  color: var(--color-headings);
  font-size: 1.6rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500 !important;
  margin-bottom: 15px;
}
.section-projects .position .header > div:nth-child(2) p {
  width: 67%;
  color: var(--color-text);
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  line-height: 30px !important;
}
.section-projects .position .cards-field {
  display: flex;
  flex-wrap: wrap;
}
.section-projects .position #more-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.section-projects .position #more-button span {
  color: var(--color-text);
  cursor: pointer;
}
.section-projects .position #more-button span:hover {
  transition: 1;
  color: var(--color-primary);
}
.section-projects .position #more-button span:active {
  transition: 1ms;
  opacity: 30%;
}

.timeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
}
.timeline > div {
  position: relative;
}
.timeline > div > div:nth-child(1) {
  display: flex;
}
.timeline > div > div:nth-child(1) > div:nth-child(1) {
  position: relative;
  margin-top: 25px;
}
.timeline > div > div:nth-child(1) > div:nth-child(1) svg {
  z-index: 10;
  position: inherit;
}
.timeline > div > div:nth-child(1) > div:nth-child(1) .gear-field svg {
  filter: invert(1);
  z-index: 1 !important;
}
.timeline > div > div:nth-child(1) > div:nth-child(1) .gear-field svg:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 30px;
  height: 30px;
  animation: counterclockwiseRotation 3s infinite linear;
}
.timeline > div > div:nth-child(1) > div:nth-child(1) .gear-field svg:nth-child(2) {
  position: absolute;
  top: 42px;
  left: 4px;
  width: 37px;
  height: 37px;
  animation: counterclockwiseRotation 10s infinite linear;
}
.timeline > div > div:nth-child(1) > div:nth-child(1) .gear-field svg:nth-child(3) {
  position: absolute;
  top: 56px;
  left: 37px;
  width: 34px;
  height: 34px;
  animation: hourlyRotation 1.3s infinite ease-in-out;
}
@keyframes counterclockwiseRotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes hourlyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.timeline > div > div:nth-child(1) #horizontal-line {
  margin-top: 42px;
  margin-left: -45px;
  height: 2px;
  height: 2px;
  width: 30%;
  background: linear-gradient(-45deg, transparent, transparent, #3c0a4a, #23a6d5, #23d5ab);
  z-index: 2;
  filter: drop-shadow(0 0px 15px #0077cb);
}
.timeline > div > div:nth-child(1) #button-source-code {
  width: 70%;
  height: 70px;
  cursor: pointer;
  padding: 35px 5px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-panel);
  border: 1px solid var(--color-border);
}
.timeline > div > div:nth-child(1) #button-source-code:hover {
  transition: 1s;
  background-color: transparent;
  opacity: 70%;
}
.timeline > div > div:nth-child(1) #button-source-code:hover .arrow_svg__octicon-chevrow-stem {
  display: flex;
}
.timeline > div > div:nth-child(1) #button-source-code:active {
  transition: 0.1s;
  opacity: 20%;
}
.timeline > div > div:nth-child(1) #button-source-code svg:nth-child(1) {
  width: 30%;
  height: 50px;
}
.timeline > div > div:nth-child(1) #button-source-code svg:nth-child(3) {
  width: 16px;
  height: 16px;
  color: var(--color-headings) !important;
  margin-right: 15px;
}
.timeline > div > div:nth-child(1) #button-source-code > div {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.timeline > div > div:nth-child(1) #button-source-code > div h2 {
  color: var(--color-headings);
  font-weight: normal;
  font-size: 1.2rem;
}
.timeline > div > div:nth-child(1) #button-source-code > div span {
  color: var(--color-text);
  font-size: 0.9rem;
}
.timeline > div > div:nth-child(1) #button-source-code .arrow_svg__octicon-chevrow-stem {
  display: none;
}
.timeline > div .line-field {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}
.timeline > div .line-field .vertical-line {
  width: 3px;
  background: linear-gradient(-45deg, #6236a4, #3c0a4a, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  z-index: 2 !important;
  animation: gradient 5s ease infinite;
  filter: drop-shadow(0 0px 15px #0077cb);
}
.timeline > div .line-field .vertical-line:nth-child(1) {
  height: 15px;
}
.timeline > div .line-field .vertical-line:nth-child(3) {
  height: 515px;
}
.timeline > div .line-field .vertical-line:nth-child(5) {
  animation: none !important;
  background: linear-gradient(-45deg, transparent, #3c0a4a, #23a6d5, #23d5ab);
  height: 220px;
}
@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.timeline > div .line-field .title-timeline {
  filter: drop-shadow(0 0px 30px #3c0a4a);
  margin: 15px;
}

.code-field {
  width: 44%;
  height: 250px;
  background-color: var(--bg-panel);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.code-field .code-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
}
.code-field .code-header > .position {
  width: 90%;
  position: relative;
}
.code-field .code-header > .position > div {
  position: absolute;
  bottom: -1px;
  background-color: var(--bg-panel);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  padding: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0 0;
}
.code-field .code-header > .position > div span {
  font-size: 0.7rem;
  color: var(--color-headings);
  opacity: 30%;
}
.code-field > .position {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.code-field > .position pre, .code-field > .position span {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace !important;
}
.code-field > .position .code-color-white {
  color: white;
}
.code-field > .position .code-color-pink {
  color: #f977c2;
}
.code-field > .position .code-color-attribute {
  color: #50f77a;
}
.code-field > .position .code-color-purple {
  color: #bd93f9;
}
.code-field > .position .code-color-text {
  color: #f1fa8c;
}

.loader-field {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.loader-field span {
  color: var(--color-text);
  animation: verticalGradient 2s ease-in-out infinite;
  font-size: 1.1rem;
  margin-bottom: 7px;
  width: 60%;
}
@keyframes verticalGradient {
  0% {
    color: var(--color-text);
  }
  50% {
    color: var(--color-primary);
  }
  100% {
    color: var(--color-text);
  }
}
.loader-field .loader-bar {
  width: 100%;
  height: 6px;
  background-color: var(--bg-panel);
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.loader-field .loader-bar > div {
  border-radius: 5px;
  width: 55%;
  height: 100%;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  animation: loading 2s infinite ease-in-out;
}
@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 45%;
  }
  100% {
    left: 0;
  }
}

.loading-page {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.loading-page > div {
  margin-bottom: 20vh;
}

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  background-color: transparent;
  border: 1px solid var(--color-border);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 998;
  color: var(--color-text2);
}
.top-button:hover svg {
  transition: 1s;
  color: var(--color-headings) !important;
}
.top-button:active {
  transition: 0.1s;
  opacity: 50%;
}
.top-button .arrow_svg__octicon {
  width: 16px;
  height: 16px;
  transform: rotate(270deg);
}
.top-button .arrow_svg__octicon .arrow_svg__octicon-chevrow-stem {
  display: none;
}

footer {
  width: 100%;
  height: 350px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  footer {
    height: 225px;
  }
}
footer .position {
  width: 27%;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  footer .position {
    width: 80%;
  }
}
footer .position > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .position > div:nth-child(1) > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .position > div:nth-child(1) > div a, footer .position > div:nth-child(1) > div button {
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: var(--color-text2);
  cursor: pointer;
}
footer .position > div:nth-child(1) > div a:hover, footer .position > div:nth-child(1) > div button:hover {
  transition: 1s;
  color: var(--color-headings);
}
footer .position > div:nth-child(1) > div button {
  font-size: 0.92rem !important;
}
footer .position span {
  margin: 20px 0px;
  font-size: 13px;
  color: var(--color-text2);
}
footer .position .social-media-field {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
@media only screen and (max-width: 800px) {
  footer .position .social-media-field {
    width: 60%;
  }
}
footer .position .social-media-field svg {
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 5px;
  opacity: 70%;
  cursor: pointer;
  padding: 5px;
}
footer .position .social-media-field svg:hover {
  transition: 1s;
  opacity: 100%;
  background-color: var(--bg-panel);
}
footer .position .social-media-field svg:active {
  transition: 0.1s;
  opacity: 10%;
}

dialog {
  left: 50%;
  top: 50%;
  margin: -42.5vh -350px;
  width: 700px;
  max-height: 85vh;
  background-color: var(--bg-panel);
  border-radius: 15px;
  border: 1px solid var(--color-border);
  position: relative;
  z-index: 99;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  dialog {
    margin: -175px -47.5%;
    min-width: 95%;
    top: 29%;
  }
}
dialog > .position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
dialog > .position form {
  width: 90%;
}
dialog > .position form .header {
  margin-bottom: 30px;
}
dialog > .position form .header svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  filter: invert(1);
  opacity: 40%;
}
dialog > .position form .header svg:hover {
  transition: 1s;
  opacity: 90%;
}
dialog > .position form .header svg:active {
  transition: 0.1s;
  opacity: 10%;
}
dialog > .position form .header h1 {
  color: var(--color-headings);
  font-weight: normal;
}
dialog > .position form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
dialog > .position form div label {
  color: var(--color-text);
  font-size: 1rem;
}
dialog > .position form div input {
  width: 85%;
  background-color: var(--bg-panel);
  border: 1px solid var(--color-border);
  padding: 7px 12px;
  border-radius: 5px;
  color: var(--color-headings);
  outline: none;
  filter: brightness(1.1);
}
dialog > .position form div input[type=submit] {
  filter: none;
}
dialog > .position form .field-input {
  margin-top: 15px;
  width: 85%;
}
dialog > .position form textarea {
  width: 100%;
  height: 280px;
  padding: 20px;
  color: var(--color-text);
  margin-top: 40px;
  background-color: var(--bg-panel);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 0.9rem;
  margin-bottom: 100px;
  filter: brightness(1.1);
}
dialog > .position form textarea::-webkit-scrollbar {
  width: 10px;
  border: none;
}
dialog > .position form textarea::-webkit-scrollbar-track {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--bg-color);
}
dialog > .position form textarea::-webkit-scrollbar-thumb {
  background-color: var(--bg-panel);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--color-border);
}
dialog > .position form .footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--color-border);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-panel);
}
dialog > .position form .footer .position {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
dialog > .position form .footer .position input[type=submit] {
  width: 100px;
  cursor: pointer;
}
dialog > .position form .footer .position input[type=submit]:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: #0f1113;
}
dialog > .position form .footer .position input[type=submit]:active {
  transition: 0.1s;
  opacity: 10%;
}
dialog::backdrop {
  background-image: url(https://i.postimg.cc/RCDZ2Wdd/peakpx-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #181b1e;
  filter: saturate(0) brightness(0.1);
}

.notfound-field .header {
  height: 90px;
  background-color: black;
}
.notfound-field .notfound {
  width: 100%;
  height: 350px;
  background-color: var(--bg-panel);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.notfound-field .notfound > div {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.notfound-field .notfound > div:nth-child(1) {
  margin-bottom: 90px;
}
.notfound-field .notfound > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfound-field .notfound > div > div:nth-child(1) {
  margin-right: 15px;
}
.notfound-field .notfound > div > div:nth-child(1) span {
  font-size: 8rem;
}
@media only screen and (max-width: 800px) {
  .notfound-field .notfound > div > div:nth-child(1) span {
    font-size: 5rem;
  }
}
.notfound-field .notfound > div > div:nth-last-child(1) span:nth-child(1) {
  font-size: 4.5rem;
  line-height: 65px;
}
@media only screen and (max-width: 800px) {
  .notfound-field .notfound > div > div:nth-last-child(1) span:nth-child(1) {
    line-height: 55px;
    font-size: 2.5rem;
  }
}
.notfound-field .notfound > div > div:nth-last-child(1) span:nth-child(2) {
  letter-spacing: 0.5px;
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  .notfound-field .notfound > div > div:nth-last-child(1) span:nth-child(2) {
    font-size: 1.1rem;
  }
}
.notfound-field .notfound > div > div span {
  color: var(--color-headings);
  font-weight: bold;
}
.notfound-field .other-pages {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
@media only screen and (max-width: 800px) {
  .notfound-field .other-pages {
    height: auto;
  }
}
.notfound-field .other-pages .position {
  width: 70%;
  display: flex;
}
@media only screen and (max-width: 800px) {
  .notfound-field .other-pages .position {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 70px;
  }
}
.notfound-field .other-pages .position > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 70px;
}
@media only screen and (max-width: 800px) {
  .notfound-field .other-pages .position > div {
    width: 100% !important;
    margin-right: 0 !important;
    border-right: 0 !important;
    margin-bottom: 50px;
  }
}
.notfound-field .other-pages .position > div:nth-last-child(1) {
  margin-right: 0 !important;
}
.notfound-field .other-pages .position > div:nth-child(1) {
  width: 30%;
  border-right: 1px solid var(--bg-panel);
}
.notfound-field .other-pages .position > div:nth-child(1) li {
  width: 50% !important;
  margin-right: 0;
}
.notfound-field .other-pages .position > div h1 {
  color: var(--color-headings);
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.notfound-field .other-pages .position > div ul {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .notfound-field .other-pages .position > div ul {
    height: auto;
    max-height: 310px;
  }
}
.notfound-field .other-pages .position > div ul li {
  margin-bottom: 15px;
  margin-right: 50px;
}
.notfound-field .other-pages .position > div ul li a {
  color: var(--color-text2);
}
.notfound-field .other-pages .position > div ul li a:hover {
  transition: 1s;
  color: var(--color-primary);
  text-decoration: underline;
}
.notfound-field .other-pages .position > div ul li a:active {
  transition: 1ms;
  opacity: 20%;
}

.wave-animation .wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  filter: invert(1) saturate(0) brightness(0.3);
}
.wave-animation .bg-top {
  z-index: 15;
  opacity: 0.5;
}
.wave-animation .bg-top .wave-top {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
  animation: move-wave 3s;
  animation-delay: 1s;
}
.wave-animation .bg-middle {
  z-index: 10;
  opacity: 0.75;
}
.wave-animation .bg-middle .wave-middle {
  background-size: 50% 120px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
  animation: move_wave 10s linear infinite;
}
.wave-animation .bg-bottom {
  z-index: 5;
}
.wave-animation .bg-bottom .wave-bottom {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
  animation: move_wave 15s linear infinite;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.project-card {
  width: 24%;
  min-height: 290px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5%;
  position: relative;
  cursor: pointer;
}
.project-card p, .project-card span, .project-card h1 {
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.project-card:hover a .image-field #drop-shadow {
  display: flex;
}
.project-card:hover a .image-field > img {
  filter: none !important;
}
.project-card:hover a > div:nth-last-child(1) {
  position: absolute;
  bottom: 0;
}
.project-card:hover a > div:nth-last-child(1) p, .project-card:hover a > div:nth-last-child(1) h1 {
  white-space: initial !important;
}
.project-card:active {
  transition: 1ms;
  opacity: 30%;
}
.project-card > a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card > a #card-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  height: 20px;
  width: 80px;
  border-radius: 5px 0 0 5px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 20;
  color: var(--color-headings);
  font-size: 0.9rem;
}
.project-card > a .yellow-tag {
  background-color: #daa520;
}
.project-card > a .blue-tag {
  background-color: var(--color-primary);
}
.project-card > a .image-field {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.project-card > a .image-field #drop-shadow {
  display: none;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, var(--bg-color), #0a0a0b, rgba(10, 10, 11, 0.9294117647), rgba(10, 10, 11, 0.8196078431), rgba(10, 10, 11, 0.6705882353), rgba(10, 10, 11, 0.3411764706), transparent);
  z-index: 11;
  position: absolute;
  bottom: 0;
}
.project-card > a .image-field > img {
  width: 100%;
  height: 170px;
  filter: brightness(0.8);
  z-index: 10;
  border-radius: 3px;
}
.project-card > a > div:nth-last-child(1) {
  width: 90%;
  margin: 10px 0 30px 0;
  z-index: 12;
}
.project-card > a > div:nth-last-child(1) h1 {
  color: var(--color-headings);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-card > a > div:nth-last-child(1) span {
  font-size: 0.7rem;
  color: var(--color-text2);
}
.project-card > a > div:nth-last-child(1) p {
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.design-page > .header {
  height: 90px;
  background-color: black;
}
.design-page .design-landing-page {
  width: 100%;
}
.design-page .design-landing-page .header {
  width: 100%;
  height: 40vh;
  background-color: var(--bg-panel);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
  position: relative;
  border: 1px solid var(--bg-panel);
}
.design-page .design-landing-page .header h1 {
  color: var(--color-headings);
  font-size: 5rem;
  z-index: 10;
}
.design-page .design-landing-page .header p {
  width: 35%;
  text-align: center;
  color: var(--color-text);
  font-size: 1.5rem;
  z-index: 10;
  margin-bottom: 3vh;
}
.design-page .design-landing-page .header .image-background {
  width: 100%;
}
.design-page .design-landing-page .header .image-background > div:nth-child(1) {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 1;
}
.design-page .design-landing-page .header .image-background > div:nth-child(1) img {
  width: 100%;
  filter: grayscale(1);
  opacity: 5%;
}
.design-page .design-landing-page .header .image-background > div:nth-last-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  bottom: -80%;
  top: auto;
}
.design-page .design-landing-page .header .image-background > div:nth-last-child(1) div {
  width: 30%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.design-page .design-landing-page .header .image-background > div:nth-last-child(1) div:nth-child(2) {
  width: 43%;
  height: 430px;
}
.design-page .design-landing-page .header .image-background > div:nth-last-child(1) div:nth-child(2)::after {
  height: 450px;
}
.design-page .design-landing-page .header .image-background > div:nth-last-child(1) div::after {
  content: "";
  display: flex;
  width: 100%;
  height: 430px;
  background: linear-gradient(0deg, var(--bg-panel2), var(--bg-panel2), var(--bg-panel2), var(--bg-panel2), transparent);
  z-index: 2;
  position: absolute;
  bottom: 0;
}
.design-page .design-landing-page .header .image-background > div:nth-last-child(1) div img {
  width: 100%;
  opacity: 30%;
  filter: grayscale(1);
}
.design-page .images-field {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
}
.design-page .images-field .position {
  width: 80%;
  padding-top: 65px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design-page .images-field .position .header {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.design-page .images-field .position .header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design-page .images-field .position .header > div:nth-child(1) .title-timeline {
  filter: drop-shadow(0 0px 30px #3c0a4a);
  margin: 15px;
}
.design-page .images-field .position .header > div:nth-child(1) .vertical-line {
  width: 3px;
  height: 50px;
  z-index: 2 !important;
  filter: drop-shadow(0 0px 15px #0077cb);
  background: linear-gradient(-45deg, transparent, #3c0a4a, #23a6d5, #23d5ab);
}
.design-page .images-field .position .header > div:nth-child(2) {
  margin-left: 20px;
  margin-top: 15px;
}
.design-page .images-field .position .header > div:nth-child(2) > h2 {
  color: var(--color-headings);
  font-size: 1.6rem;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500 !important;
  margin-bottom: 15px;
}
.design-page .images-field .position .header > div:nth-child(2) p {
  color: var(--color-text);
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  line-height: 30px !important;
}
.design-page .images-field .position > div:nth-last-child(1) {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.design-page .images-field .position > div:nth-last-child(1) > div {
  width: 32.8%;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.design-page .images-field .position > div:nth-last-child(1) > div:hover > img {
  transition: 5ms;
  filter: brightness(0.3);
}
.design-page .images-field .position > div:nth-last-child(1) > div:hover::after {
  content: attr(data-description);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: linear-gradient(0deg, var(--bg-color), transparent, transparent);
  color: var(--color-headings);
  z-index: 99;
  position: absolute;
  bottom: 0;
}
.design-page .images-field .position > div:nth-last-child(1) > div:active {
  transition: 1ms;
  opacity: 30%;
}
.design-page .images-field .position > div:nth-last-child(1) > div img {
  width: 100%;
}

.full-image {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-image > div {
  width: 70%;
  min-height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .full-image > div {
    width: 90%;
    min-height: 75vh;
  }
}
.full-image > div svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  filter: invert(1);
  opacity: 40%;
  position: absolute;
  top: 0;
  right: 0;
}
.full-image > div svg:hover {
  transition: 1s;
  opacity: 90%;
}
.full-image > div svg:active {
  transition: 0.1s;
  opacity: 10%;
}
.full-image > div img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 95vh;
}
@media only screen and (max-width: 800px) {
  .full-image > div img {
    width: 100%;
  }
}/*# sourceMappingURL=globals.css.map */