@media screen and (max-width: 799px){

    /*-----------<  Footer  >-----------*/

    .btn_txt {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    footer a:nth-child(2) {
        display: none;
    }

    footer a {
        margin: 10px 0;
        font-size: 17px;
    }

    footer > div > div > div > div > a::after {
        content: '';
        display: block;
        height: 3px;
        width: 70vw;
        background: linear-gradient(45deg, transparent, #ffffff12, transparent);
        margin: 20px 0px 0 0;
    }

    footer > div > div > div > div > a:nth-child(5):after {
        content: '';
        display: block;
        height: 1px;
        width: 20vw;
        background: linear-gradient(45deg, transparent, #ffffff17, transparent);
        margin-bottom: 30px;
    }

    .btn_rodape input {
        width: 40px;
        margin-bottom: 60px;
    }

    .btn_rodape div {
        width: 70vw;
    }

    /*-----------<  Footer  >-----------*/

}