h1, p {
    cursor: default;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-image: url(https://i.postimg.cc/1RWtLC00/background.png);
    background-repeat: no-repeat;
    background-size: cover
}