@media screen and (max-width: 799px){

    .section {
        width:90%;
    }

    .header-tabs {
        display: none;
    }

    .header-bar h1 {
        font-size: 6vw;
    }

    .field-carrossel-image {
        width: 100%;
        margin-bottom: 5px;
    }

    .carrossel-image img {
        width: 100%;
    }

    #option-bar-gallery {
        display: none;
    }

    .field-txt {
        display: none;
    }

    .img-gallery:nth-child(2) {
        margin: 0.5vw 0;
    }

    .img-gallery {
        width: 44vw;
    }

    .img-gallery > img {
        width: 44vw;
    }

    .img-gallery {
        margin: 0.5vw 0;
    }

    #primeira-imagem {
        display: none;
    }

    #adicionar-imagem-mobile {
        display: contents;
    }
}
